In [26]:
import pandas as pd

In [6]:
#Creamos un Lista y Lo pasamos a Series
#por defecto se asigna el indice
interm=pd. Series(['Messi', 'Suarez', 'Busquets', 'Jordi Alva', 'Campana'])
interm

0         Messi
1        Suarez
2      Busquets
3    Jordi Alva
4       Campana
dtype: object

In [11]:
interm=pd. Series(['Messi', 'Suarez', 'Busquets', 'Jordi Alva', 'Campana', 'Calender'],
                index=['10','9','5','18','8','1'])
interm

10         Messi
9         Suarez
5       Busquets
18    Jordi Alva
8        Campana
1       Calender
dtype: object

In [14]:
dicc={10:'Messi', 9:'Suarez', 5:'Busquets', 18:'Jordi Alva', 8:'Campana', 1:'Calender'}
dicc

{10: 'Messi',
 9: 'Suarez',
 5: 'Busquets',
 18: 'Jordi Alva',
 8: 'Campana',
 1: 'Calender'}

In [16]:
dataframe1=pd.Series(dicc)
dataframe1

10         Messi
9         Suarez
5       Busquets
18    Jordi Alva
8        Campana
1       Calender
dtype: object

In [19]:
dataframe1[10]

'Messi'

In [20]:
dataframe1[0:2]

10     Messi
9     Suarez
dtype: object

In [30]:
#Importamos un CSV
df1 = pd.read_csv('bestsellers-with-categories.csv')
df1.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [31]:
df2 = pd.read_csv('Beneficiarios-del-Bono-del-Pescador-2024.csv')
df2.head()

,ID,EDAD,SEXO,CODIGO_DEPARTAMENTO,REGION,TIPO_PESCADOR,COBRO,MONTO,FECHA_CORTE,FECHA_PUBLICACION_PNDA
0,1731,25,M,2,ANCASH,EMBARCADO,1,700,20240228,20240404
1,1362,49,M,2,ANCASH,EMBARCADO,1,700,20240228,20240404
2,1238,46,M,2,ANCASH,EMBARCADO,1,700,20240228,20240404
3,354,59,M,2,ANCASH,EMBARCADO,1,700,20240228,20240404
4,463,58,M,2,ANCASH,EMBARCADO,1,700,20240228,20240404

In [ ]:
#Si el CSV tiene otro demilimador que no sea ","
#pd.read_csv('Beneficiarios-del-Bono-del-Pescador-2024.csv', sep=',')

In [32]:
df2.columns

Index(['ID', 'EDAD', 'SEXO', 'CODIGO_DEPARTAMENTO', 'REGION', 'TIPO_PESCADOR',
       'COBRO', 'MONTO', 'FECHA_CORTE', 'FECHA_PUBLICACION_PNDA'],
      dtype='object')

In [35]:
df3=pd.read_json('charactersdataraw.json')
df3

,Name,Link,Descr,Gender,Species/Race,Blood,School,Profession
0,Mrs. Abbott,https://www.hp-lexicon.org/character/abbott-fa...,"Mrs. Abbott was the mother of Hannah Abbott, a...",Female,Witch,Muggle-born,Unknown,Unknown
1,Hannah Abbott,https://www.hp-lexicon.org/character/abbott-fa...,Hannah Abbott is a Hufflepuff student in Harry...,Female,Witch,Half-blood,Hogwarts - Hufflepuff,Landlady of the Leaky Cauldron
2,Abel Treetops,https://www.hp-lexicon.org/character/abel-tree...,Abel Treetops was a wizard from Cincinnati who...,Male,Wizard,Unknown,Unknown,Unknown
3,Euan Abercrombie,https://www.hp-lexicon.org/character/abercromb...,Euan Abercrombie was a small boy with prominen...,Male,Wizard,Unknown,Hogwarts - Gryffindor,Unknown
4,Aberforth Dumbledore,https://www.hp-lexicon.org/character/dumbledor...,"Aberforth Dumbledore was a tall, thin, grumpy-...",Male,Wizard,Half-blood,Hogwarts - Student,Barman
...,...,...,...,...,...,...,...,...
1935,Georgi Zdravko,https://www.hp-lexicon.org/character/georgi-zd...,Georgi Zdravko played Keeper for the Bulgarian...,Male,Wizard,Unknown,Unknown,Quidditch player (Seeker)
1936,Zograf,https://www.hp-lexicon.org/character/zograf/,Zograf played Keeper for the Bulgarian Nationa...,NaN,Wizard,Unknown,Unknown,Quidditch player (Keeper)
1937,Zonko,https://www.hp-lexicon.org/character/zonko/,Founder(?) of Zonko’s Joke Shop. Possibly a re...,NaN,Unknown,Unknown,Unknown,Unknown
1938,Valentina Vázquez,https://www.hp-lexicon.org/character/valentina...,Valentina Vázquez was President of the Argenti...,Female,Witch,Unknown,Unknown,President of the Argentinian Council of Magic
1939,Zygmunt Budge,https://www.hp-lexicon.org/character/zygmunt-b...,Zygmunt Budge is considered to be one of the m...,Male,Wizard,Unknown,Hogwarts - Student,"Potions Master, Potioneer, Inventor, Author"

In [39]:
pd.read_json('charactersdataraw.json', typ='Series')

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object

In [43]:
nombres=df1.Name
nombres.head(5)

0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
Name: Name, dtype: object

In [44]:
nombres=df1['Name']
nombres.head(5)

0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
Name: Name, dtype: object

In [46]:
nombres=df1[['Author','Price']]
nombres.head(5)

                     Author  Price
0                  JJ Smith      8
1              Stephen King     22
2        Jordan B. Peterson     15
3             George Orwell      6
4  National Geographic Kids     12

In [48]:
nombres=df1[['Author','Price','Year']]
nombres.head()

                     Author  Price  Year
0                  JJ Smith      8  2016
1              Stephen King     22  2011
2        Jordan B. Peterson     15  2018
3             George Orwell      6  2017
4  National Geographic Kids     12  2019

In [62]:
df1.loc[0:2]

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

In [71]:
df1.loc[545:,['Author','Year']]

          Author  Year
545  Jeff Kinney  2019
546  Jen Sincero  2016
547  Jen Sincero  2017
548  Jen Sincero  2018
549  Jen Sincero  2019

In [72]:
df1.iloc[545:,2:3]

     User Rating
545          4.9
546          4.7
547          4.7
548          4.7
549          4.7

In [81]:
df5=df1.drop('Name',axis=1)

In [82]:
df5

                       Author  User Rating  Reviews  Price  Year        Genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 6 columns]

In [84]:
df1.isnull().count()

Name           550
Author         550
User Rating    550
Reviews        550
Price          550
Year           550
Genre          550
dtype: int64

In [85]:
df2.isnull().count()

ID                        47070
EDAD                      47070
SEXO                      47070
CODIGO_DEPARTAMENTO       47070
REGION                    47070
TIPO_PESCADOR             47070
COBRO                     47070
MONTO                     47070
FECHA_CORTE               47070
FECHA_PUBLICACION_PNDA    47070
dtype: int64

In [ ]:
df1.isnull().count()

In [88]:
df1.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [90]:
#LLenar Los valores nulos, para luego filtrarlos
df1.fillna('missing')
df1

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [93]:
#Llena Los nulos con interpolación como si fuese una serie
df1.interpolate()

C:\Users\guido\AppData\Local\Temp\ipykernel_5532\960823848.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df1.interpolate()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [91]:
#Elimina Las filas con valores nulos
df1.dropna()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [94]:
df1['Year']>2016

0      False
1      False
2       True
3       True
4       True
       ...
545     True
546    False
547     True
548     True
549     True
Name: Year, Length: 550, dtype: bool

In [98]:
df8=df1[df1['Year']>2018]
df8

,Name,Author,User Rating,Reviews,Price,Year,Genre
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
33,Becoming,Michelle Obama,4.8,61133,11,2019,Non Fiction
41,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2019,Fiction
44,Can't Hurt Me: Master Your Mind and Defy the Odds,David Goggins,4.8,16244,18,2019,Non Fiction
74,Difficult Riddles For Smart Kids: 300 Difficul...,M Prefontaine,4.6,7955,5,2019,Non Fiction
84,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2019,Fiction
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9,12619,8,2019,Fiction
86,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav Pilkey,4.9,9089,8,2019,Fiction
98,Educated: A Memoir,Tara Westover,4.7,28729,15,2019,Non Fiction
127,Giraffes Can't Dance,Giles Andreae,4.8,14038,4,2019,Fiction
128,"Girl, Stop Apologizing: A Shame-Free Plan for ...",Rachel Hollis,4.6,7660,12,2019,Non Fiction
130,"Girl, Wash Your Face: Stop Believing the Lies ...",Rachel Hollis,4.6,22288,12,2019,Non Fiction
138,Good Days Start With Gratitude: A 52 Week Guid...,Pretty Simple Press,4.6,10141,6,2019,Non Fiction
145,Goodnight Moon,Margaret Wise Brown,4.8,8837,5,2019,Fiction
150,Guts,Raina Telgemeier,4.8,5476,7,2019,Non Fiction
155,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,4.9,7758,18,2019,Fiction
171,Howard Stern Comes Again,Howard Stern,4.3,5272,16,2019,Non Fiction
176,"I Am Confident, Brave & Beautiful: A Coloring ...",Hopscotch Girls,4.8,9737,7,2019,Non Fiction
179,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2019,Fiction
184,Instant Pot Pressure Cooker Cookbook: 500 Ever...,Jennifer Smith,4.4,7396,13,2019,Non Fiction
186,It's Not Supposed to Be This Way: Finding Unex...,Lysa TerKeurst,4.8,7062,12,2019,Non Fiction
239,"National Geographic Kids Why?: Over 1,111 Answ...",Crispin Boyer,4.8,5347,16,2019,Non Fiction
240,National Geographic Little Kids First Big Book...,Amy Shields,4.8,7866,11,2019,Non Fiction
252,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2019,Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,4.7,10820,5,2019,Non Fiction
267,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2019,Fiction
291,"Salt, Fat, Acid, Heat: Mastering the Elements ...",Samin Nosrat,4.8,7802,20,2019,Non Fiction
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6,2019,Non Fiction
303,Strange Planet (Strange Planet Series),Nathan W. Pyle,4.9,9382,6,2019,Fiction
329,The 5 Love Languages: The Secret to Love that ...,Gary Chapman,4.8,25554,8,2019,Non Fiction
345,"The Body Keeps the Score: Brain, Mind, and Bod...",Bessel van der Kolk M.D.,4.8,12361,12,2019,Non Fiction
356,The Complete Ketogenic Diet for Beginners: You...,Amy Ramos,4.3,13061,6,2019,Non Fiction
380,The Four Agreements: A Practical Guide to Pers...,Don Miguel Ruiz,4.7,23308,6,2019,Non Fiction
397,The Guardians: A Novel,John Grisham,4.5,13609,14,2019,Fiction
426,The Life-Changing Magic of Tidying Up: The Jap...,Marie Kondō,4.5,22641,11,2019,Non Fiction
436,The Mueller Report,The Washington Post,4.6,2744,12,2019,Non Fiction
462,The Silent Patient,Alex Michaelides,4.5,27536,14,2019,Fiction
466,The Subtle Art of Not Giving a F*ck: A Counter...,Mark Manson,4.6,26490,15,2019,Non Fiction
472,The Total Money Makeover: Classic Edition: A P...,Dave Ramsey,4.7,11550,10,2019,Non Fiction
475,The Unofficial Harry Potter Cookbook: From Cau...,Dinah Bucholz,4.7,9030,10,2019,Non Fiction
482,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2019,Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2019,Fiction
491,The Wonky Donkey,Craig Smith,4.8,30183,4,2019,Fiction
509,To Kill a Mockingbird,Harper Lee,4.8,26234,7,2019,Fiction
521,Unfreedom of the Press,Mark R. Levin,4.9,5956,11,2019,Non Fiction
522,Unicorn Coloring Book: For Kids Ages 4-8 (US E...,Silly Bear,4.8,6108,4,2019,Non Fiction
529,What Should Danny Do? (The Power to Choose Ser...,Adir Levy,4.8,8170,13,2019,Fiction
534,Where the Crawdads Sing,Delia Owens,4.8,87841,15,2019,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [ ]:
#Podemos pasar doble condición
mayor_2016=df_books['Year']>2016
genre_fiction=df_books['Genre'] == 'Fiction'
df_books[mayor_2016 & genre_fiction]
#df_books[(df_books['Year']>2016) & (df_books['Genre'] == 'Fiction')]

ACTIVIDAD: Filtra los registros para crear un dataset de los
libros publicados entre los anos 2017 y 2018, y que sean de
género "Genre".

In [106]:
entre2017_2018 = df1[(df1['Year'] >= 2017) & (df1['Year'] <= 2018)]
entre2017_2018

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
...,...,...,...,...,...,...,...
526,What Happened,Hillary Rodham Clinton,4.6,5492,18,2017,Non Fiction
536,Whose Boat Is This Boat?: Comments That Don't ...,The Staff of The Late Show with,4.6,6669,12,2018,Non Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction

In [107]:
df10 = df1.loc[df1['Year'].between(2017, 2018)]
df10

,Name,Author,User Rating,Reviews,Price,Year,Genre
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
...,...,...,...,...,...,...,...
526,What Happened,Hillary Rodham Clinton,4.6,5492,18,2017,Non Fiction
536,Whose Boat Is This Boat?: Comments That Don't ...,The Staff of The Late Show with,4.6,6669,12,2018,Non Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction

In [110]:
df11 = df10.loc[df1['Genre'] == "Fiction"]
df11

,Name,Author,User Rating,Reviews,Price,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
53,Crazy Rich Asians (Crazy Rich Asians Trilogy),Kevin Kwan,4.3,6143,8,2018,Fiction
65,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,4.8,10922,5,2017,Fiction
66,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,4.8,10922,5,2018,Fiction
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9,5062,6,2018,Fiction
82,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,4.9,4786,8,2017,Fiction
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2018,Fiction
87,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,4.9,5470,6,2018,Fiction
101,Fahrenheit 451,Ray Bradbury,4.6,10721,8,2018,Fiction
125,Giraffes Can't Dance,Giles Andreae,4.8,14038,4,2017,Fiction
126,Giraffes Can't Dance,Giles Andreae,4.8,14038,4,2018,Fiction
143,Goodnight Moon,Margaret Wise Brown,4.8,8837,5,2017,Fiction
144,Goodnight Moon,Margaret Wise Brown,4.8,8837,5,2018,Fiction
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3146,30,2017,Fiction
178,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2017,Fiction
207,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,4.9,11881,13,2018,Fiction
220,Little Fires Everywhere,Celeste Ng,4.5,25706,12,2018,Fiction
250,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2017,Fiction
251,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2018,Fiction
258,Origin: A Novel (Robert Langdon),Dan Brown,4.3,18904,13,2017,Fiction
265,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2017,Fiction
266,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2018,Fiction
281,Puppy Birthday to You! (Paw Patrol) (Little Go...,Golden Books,4.8,4757,4,2017,Fiction
286,Ready Player One: A Novel,Ernest Cline,4.6,22536,12,2017,Fiction
287,Ready Player One: A Novel,Ernest Cline,4.6,22536,12,2018,Fiction
381,The Getaway,Jeff Kinney,4.8,5836,0,2017,Fiction
391,The Going-To-Bed Book,Sandra Boynton,4.8,5249,5,2017,Fiction
399,The Handmaid's Tale,Margaret Atwood,4.3,29442,7,2017,Fiction
401,The Hate U Give,Angie Thomas,4.8,9947,11,2018,Fiction
435,The Meltdown (Diary of a Wimpy Kid Book 13),Jeff Kinney,4.8,5898,8,2018,Fiction
451,The Pout-Pout Fish,Deborah Diesen,4.8,9784,5,2017,Fiction
452,The Pout-Pout Fish,Deborah Diesen,4.8,9784,5,2018,Fiction
454,The President Is Missing: A Novel,James Patterson,4.3,10191,18,2018,Fiction
460,The Shack: Where Tragedy Confronts Eternity,William P. Young,4.6,19720,8,2017,Fiction
480,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2017,Fiction
481,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2018,Fiction
487,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2017,Fiction
488,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2018,Fiction
490,The Wonky Donkey,Craig Smith,4.8,30183,4,2018,Fiction
496,Thirteen Reasons Why,Jay Asher,4.5,7932,9,2017,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction

In [112]:
df11 = df1.loc[(df1['Year'].between(2017, 2018)) & (df1['Genre'] == "Fiction")]
df11()

,Name,Author,User Rating,Reviews,Price,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2017,Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,5,2018,Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,5,2017,Fiction
53,Crazy Rich Asians (Crazy Rich Asians Trilogy),Kevin Kwan,4.3,6143,8,2018,Fiction
65,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,4.8,10922,5,2017,Fiction
66,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,4.8,10922,5,2018,Fiction
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9,5062,6,2018,Fiction
82,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,4.9,4786,8,2017,Fiction
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9,7235,4,2018,Fiction
87,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,4.9,5470,6,2018,Fiction
101,Fahrenheit 451,Ray Bradbury,4.6,10721,8,2018,Fiction
125,Giraffes Can't Dance,Giles Andreae,4.8,14038,4,2017,Fiction
126,Giraffes Can't Dance,Giles Andreae,4.8,14038,4,2018,Fiction
143,Goodnight Moon,Margaret Wise Brown,4.8,8837,5,2017,Fiction
144,Goodnight Moon,Margaret Wise Brown,4.8,8837,5,2018,Fiction
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3146,30,2017,Fiction
178,If Animals Kissed Good Night,Ann Whitford Paul,4.8,16643,4,2017,Fiction
207,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,4.9,11881,13,2018,Fiction
220,Little Fires Everywhere,Celeste Ng,4.5,25706,12,2018,Fiction
250,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2017,Fiction
251,"Oh, the Places You'll Go!",Dr. Seuss,4.9,21834,8,2018,Fiction
258,Origin: A Novel (Robert Langdon),Dan Brown,4.3,18904,13,2017,Fiction
265,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2017,Fiction
266,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,4.8,16990,27,2018,Fiction
281,Puppy Birthday to You! (Paw Patrol) (Little Go...,Golden Books,4.8,4757,4,2017,Fiction
286,Ready Player One: A Novel,Ernest Cline,4.6,22536,12,2017,Fiction
287,Ready Player One: A Novel,Ernest Cline,4.6,22536,12,2018,Fiction
381,The Getaway,Jeff Kinney,4.8,5836,0,2017,Fiction
391,The Going-To-Bed Book,Sandra Boynton,4.8,5249,5,2017,Fiction
399,The Handmaid's Tale,Margaret Atwood,4.3,29442,7,2017,Fiction
401,The Hate U Give,Angie Thomas,4.8,9947,11,2018,Fiction
435,The Meltdown (Diary of a Wimpy Kid Book 13),Jeff Kinney,4.8,5898,8,2018,Fiction
451,The Pout-Pout Fish,Deborah Diesen,4.8,9784,5,2017,Fiction
452,The Pout-Pout Fish,Deborah Diesen,4.8,9784,5,2018,Fiction
454,The President Is Missing: A Novel,James Patterson,4.3,10191,18,2018,Fiction
460,The Shack: Where Tragedy Confronts Eternity,William P. Young,4.6,19720,8,2017,Fiction
480,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2017,Fiction
481,The Very Hungry Caterpillar,Eric Carle,4.9,19546,5,2018,Fiction
487,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2017,Fiction
488,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,8842,10,2018,Fiction
490,The Wonky Donkey,Craig Smith,4.8,30183,4,2018,Fiction
496,Thirteen Reasons Why,Jay Asher,4.5,7932,9,2017,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction

In [116]:
df11.count()

Name           45
Author         45
User Rating    45
Reviews        45
Price          45
Year           45
Genre          45
dtype: int64

In [120]:
df12=df1[(df1['Year'].isin([2017,2018])) & (df1['Genre']=='Fiction')]
df12.shape

(45, 7)